/* Footer.css */

.footer {
    background-color: #2a3247;
    color: #fff;
    
    text-align: center;
    position: fixed;
    width: 100%;
    position: fixed;
  left: 0;
  bottom: 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .iconss {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .iconss:hover {
    color: #f0f0f0;
  }
  
  .footer-text {
    font-size: 14px;
  }
  